* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Optional: Adds spacing between elements */
    height: 450px; 
    width: 375px; 
    text-align: center;
    vertical-align: top;
  }
  .buttons {
    text-align: center;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    display: block;
    flex-direction: row;
    gap: 0px; /* Optional: Adds spacing between elements */

  }
  .buttonImage {
    height:75px; 
    width: 75px;
    margin: auto;     /* Centers vertically */
    display: block;
  }
 
  video, img {
    width: 100%;
    max-width: 320px;
    margin: 10px 0;
  }
  
  button {
    padding: 5px 5px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
  }
  
  #status {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
  